  /* CSS RESET */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* stops text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

@font-face {
  font-family: 'Snechy';
  src: url('../fonts/SNECHY.otf') format("opentype");
}

  /* stop browser outline from displaying on button clicks */
  *:active {
    outline: 0;
}
  /* GENERAL STYLES */
html,body {
    /* stop page from scrolling */
    height: 100%;
    overflow: hidden;
    font-family: "Arial", sans-serif;
    font-family: 'Snechy','Courier New', Courier, monospace;
    font-size: 36px;
}

main,section {
    position: absolute;
}


body{
    overflow: hidden;
}
main{
    width: 1024px;
    height: 768px;
    background-image: url('../images/BG.png');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#sweater{
    z-index: 3;
    position: absolute;
    left: 298px;
    top: 292px;
    overflow: hidden;
}

#alt{
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 433px;
}

.dog{
    position: absolute;
    width: 558px;
    top: 229px;
    left: 193px;
    z-index: 2;
}

.btn{
    width: 900px;
    height: 768px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px auto;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

#btn1, #btn2{
    z-index: 7;
    width: 65px;
    transition: scale .2s ease-in-out;
    cursor: pointer;
}

#btn1:hover{
    scale: 1.1;
    cursor: pointer;
}

#btn2:hover{
    scale: 1.1;
    cursor: pointer;
}

#item{
  position: absolute;
  left: 437px;
  top: 670px;
  text-align: center;
  color: #5b3526;
}









/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    right: 35px;
    top: 50px;
    overflow: hidden; 
  }
  
  /* Modal Content/Box */
  .modal-content {
    /* position: absolute;
    top: 50px;
    left: 50px; */
    z-index: 11;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn{
    width: 125px;
    height: auto;
    position: absolute;
    z-index: 10;
    padding: 10px 5px;
    border: 3px solid #5c3526;
    border-radius: 15px;
    background-color: #8b5e3b;
    right: 65px;
    top: 380px;
    font-family: 'Snechy';
    font-size: 15px;
   transition: scale .5s ease-in-out;
   color: #dfdfdf;
  }

  #myBtn:hover{
    cursor: pointer;
    scale: 1.1;
  }









  .menuItem {
    display: block;
    margin: 50px auto 50px;
    font-size: 1.8rem;
    color: #dfdfdf;
    text-decoration: none;
    text-align: center;
    width: 400px;
    padding: 30px 0px 30px;
    border: 5px solid #5c3526;
    border-radius: 25px;
    transition: scale .4s ease-in-out;
  }
  
  .menuItem:hover {
    scale: 1.1;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }

  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(91,53,38);
    background: linear-gradient(180deg, rgba(91,53,38,1) 0%, rgba(139,94,59,1) 35%, rgba(247,148,29,1) 100%);
    color: #000;
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }

  .closeIcon {
    display: none;
  }

  #logo{
    width: 340px;
    height: auto;
    position: absolute;
    left: 25px;
    top: 30px;
  }



  #pattern{
    display: none;
  }


  .header{
    position: absolute;
  }





h2{
  position: absolute;
  font-size: 20px;
  top: 57px;
  left: 460px;
  z-index: 3;
  color: #dfdfdf;
}
.text{
  z-index: 3;
  position: absolute;
  top: 90px;
  left: 460px;
  font-size: 15px;
  width: 300px;
  color: #dfdfdf;
}